{% extends 'base.html' %}

{% block content%}

<h1>Snack list</h1>

<button><a href="{% url 'snack_create' %}">Add Snack</a></button>

<div class="container">
{% for snack in snack_item %}

    <div class="a-box">
        <div class="img-container">
          <div class="img-inner">
            <div class="inner-skew">
              <img src="{{snack.image}}" />
            </div>
          </div>
        </div>
        <div class="text-container">
          <h3> {{snack.title}} </h3>
          <div>
            <button><a href= "{% url 'detail' snack.id %}"> more details </a></button>
            <button><a href="{% url 'snack_update' snack.pk %}">Update</a></button>
            <button><a href="{% url 'snack_delete' snack.pk %}">delete</a></button>
            </div>
      </div>
        {% endfor%}
  

    </div>
{% endblock content%}  
